In [1]:
import glob
import pickle
import matplotlib.pyplot as plt
import os

In [2]:
import pandas as pd

In [23]:
def compile_attributes(model="sp_iwae", dataset="mnist_perturbed"):
    all_attributes = []
    for filename in sorted(glob.glob(os.path.join(model, dataset, "-1", "*", "attributes.pk"))):
        with open(filename, "rb") as f:
            attributes = pickle.load(f)
            all_attributes.append(attributes)
                
    for i, fn in enumerate(sorted(glob.glob(os.path.join(model, dataset, "-1", "*", "attributes.pk")))):
        print(i, fn)
    print("Found {} attributes".format(len(all_attributes)))
    cols = ['leafK', 'sumK', 'nz',  'nnodes_recog', 'nnodes_gener', 'num_weights', 'wall_time', 'test_ll', 'max_validation']
    df = pd.DataFrame(columns=cols)
    for i, att in enumerate(all_attributes):
        row = [att[c] for c in cols]
        df.loc[i] = row
    return df

In [24]:
df = compile_attributes("sp_iwae", "mnist_perturbed")
df.sort_values("max_validation", ascending=False)

0 sp_iwae/mnist_perturbed/-1/1556393409/attributes.pk
1 sp_iwae/mnist_perturbed/-1/1556394186/attributes.pk
2 sp_iwae/mnist_perturbed/-1/1556395449/attributes.pk
3 sp_iwae/mnist_perturbed/-1/1556396781/attributes.pk
4 sp_iwae/mnist_perturbed/-1/1556398170/attributes.pk
5 sp_iwae/mnist_perturbed/-1/1556398999/attributes.pk
6 sp_iwae/mnist_perturbed/-1/1556400005/attributes.pk
7 sp_iwae/mnist_perturbed/-1/1556401252/attributes.pk
8 sp_iwae/mnist_perturbed/-1/1556402308/attributes.pk
9 sp_iwae/mnist_perturbed/-1/1556403123/attributes.pk
10 sp_iwae/mnist_perturbed/-1/1556403886/attributes.pk
11 sp_iwae/mnist_perturbed/-1/1556405008/attributes.pk
12 sp_iwae/mnist_perturbed/-1/1556405622/attributes.pk
13 sp_iwae/mnist_perturbed/-1/1556406700/attributes.pk
14 sp_iwae/mnist_perturbed/-1/1556407597/attributes.pk
15 sp_iwae/mnist_perturbed/-1/1556408498/attributes.pk
16 sp_iwae/mnist_perturbed/-1/1556409100/attributes.pk
17 sp_iwae/mnist_perturbed/-1/1556409809/attributes.pk
18 sp_iwae/mnist_perturbed/-1/1556410554/attributes.pk
19 sp_iwae/mnist_perturbed/-1/1556411205/attributes.pk
20 sp_iwae/mnist_perturbed/-1/1556411937/attributes.pk
21 sp_iwae/mnist_perturbed/-1/1556412475/attributes.pk
22 sp_iwae/mnist_perturbed/-1/1556413056/attributes.pk
23 sp_iwae/mnist_perturbed/-1/1556413508/attributes.pk
24 sp_iwae/mnist_perturbed/-1/1557424325/attributes.pk
25 sp_iwae/mnist_perturbed/-1/1557426942/attributes.pk
26 sp_iwae/mnist_perturbed/-1/1557430222/attributes.pk
27 sp_iwae/mnist_perturbed/-1/1557432886/attributes.pk
28 sp_iwae/mnist_perturbed/-1/1557435304/attributes.pk
29 sp_iwae/mnist_perturbed/-1/1557437405/attributes.pk
Found 30 attributes

,leafK,sumK,nz,nnodes_recog,nnodes_gener,num_weights,wall_time,test_ll,max_validation
3,2,2,25,"(30, 30)","(30, 30)",413352,1345.0461912155151,2762.648193,2754.391602
28,2,2,25,"(32, 32)","(32, 32)",448680,2046.403228521347,2747.708740,2753.973633
29,2,2,50,"(32, 32)","(32, 32)",552680,3640.8194556236267,2731.414307,2753.139648
2,2,2,5,"(30, 30)","(30, 30)",335272,1287.8306396007538,2747.240967,2745.602051
27,2,2,5,"(32, 32)","(32, 32)",365480,2362.3101749420166,2759.340820,2743.241211
4,2,2,50,"(30, 30)","(30, 30)",510952,783.629741191864,2716.935547,2704.978516
25,2,2,25,"(16, 16)","(16, 16)",194728,3226.8098363876343,2712.247559,2699.781494
24,2,2,5,"(16, 16)","(16, 16)",152488,2561.209209918976,2709.663574,2699.102295
5,2,2,100,"(30, 30)","(30, 30)",706152,961.9156746864319,2695.681885,2682.696289
26,2,2,50,"(16, 16)","(16, 16)",247528,2611.350655555725,2628.145752,2682.035156
10,2,2,5,"(100, 100)","(100, 100)",2001832,1077.277634859085,2667.795898,2668.375977
6,2,2,150,"(30, 30)","(30, 30)",901352,1202.6013164520264,2669.176514,2659.285645
12,2,2,50,"(100, 100)","(100, 100)",2580712,1034.007730960846,2633.049316,2625.238281
1,2,2,2,"(30, 30)","(30, 30)",323560,1218.8850955963135,2630.058105,2624.946289
11,2,2,25,"(100, 100)","(100, 100)",2259112,568.2467956542969,2633.696045,2624.616455
7,2,2,200,"(30, 30)","(30, 30)",1096552,1011.2839386463165,2588.592773,2594.812500
13,2,2,100,"(100, 100)","(100, 100)",3223912,851.5461535453796,2495.311279,2496.677734
0,2,2,1,"(30, 30)","(30, 30)",319656,732.2998359203339,2454.340820,2449.906006
9,2,2,2,"(100, 100)","(100, 100)",1963240,718.0883376598358,2410.733887,2404.052490
14,2,2,150,"(100, 100)","(100, 100)",3867112,856.428258895874,2399.617676,2388.487305
15,2,2,200,"(100, 100)","(100, 100)",4510312,556.4508731365204,2335.263184,2325.782715
8,2,2,1,"(100, 100)","(100, 100)",1950376,771.0144689083099,2186.684082,2180.047607
18,2,2,5,"(300, 300)","(300, 300)",13675432,606.238950252533,2044.984375,2038.907227
19,2,2,25,"(300, 300)","(300, 300)",14444712,686.9770975112915,2004.586060,1999.965942
17,2,2,2,"(300, 300)","(300, 300)",13560040,699.1758217811584,1940.458374,1936.520020
20,2,2,50,"(300, 300)","(300, 300)",15406312,492.57848596572876,1911.264038,1905.929810
22,2,2,150,"(300, 300)","(300, 300)",19252712,407.4128987789154,1895.022827,1885.724609
21,2,2,100,"(300, 300)","(300, 300)",17329512,535.1261894702911,1889.628540,1881.551147
23,2,2,200,"(300, 300)","(300, 300)",21175912,358.53227186203003,1880.405396,1875.353149
16,2,2,1,"(300, 300)","(300, 300)",13521576,664.6012358665466,1879.096191,1870.718750

In [25]:
df = compile_attributes("sp_iwae", "mnist_discrete")
df.sort_values("max_validation", ascending=False)

0 sp_iwae/mnist_discrete/-1/1556414815/attributes.pk
1 sp_iwae/mnist_discrete/-1/1556417370/attributes.pk
2 sp_iwae/mnist_discrete/-1/1556418969/attributes.pk
3 sp_iwae/mnist_discrete/-1/1556420609/attributes.pk
4 sp_iwae/mnist_discrete/-1/1556422392/attributes.pk
5 sp_iwae/mnist_discrete/-1/1556423728/attributes.pk
6 sp_iwae/mnist_discrete/-1/1556425712/attributes.pk
7 sp_iwae/mnist_discrete/-1/1556427592/attributes.pk
8 sp_iwae/mnist_discrete/-1/1556429602/attributes.pk
9 sp_iwae/mnist_discrete/-1/1556431064/attributes.pk
10 sp_iwae/mnist_discrete/-1/1556433070/attributes.pk
11 sp_iwae/mnist_discrete/-1/1556434198/attributes.pk
12 sp_iwae/mnist_discrete/-1/1556436285/attributes.pk
13 sp_iwae/mnist_discrete/-1/1556438321/attributes.pk
14 sp_iwae/mnist_discrete/-1/1556439825/attributes.pk
15 sp_iwae/mnist_discrete/-1/1556441489/attributes.pk
16 sp_iwae/mnist_discrete/-1/1556443592/attributes.pk
17 sp_iwae/mnist_discrete/-1/1556445270/attributes.pk
18 sp_iwae/mnist_discrete/-1/1556447388/attributes.pk
19 sp_iwae/mnist_discrete/-1/1556447852/attributes.pk
20 sp_iwae/mnist_discrete/-1/1556448837/attributes.pk
21 sp_iwae/mnist_discrete/-1/1556450188/attributes.pk
22 sp_iwae/mnist_discrete/-1/1556452134/attributes.pk
23 sp_iwae/mnist_discrete/-1/1556454539/attributes.pk
24 sp_iwae/mnist_discrete/-1/1556456312/attributes.pk
25 sp_iwae/mnist_discrete/-1/1556456536/attributes.pk
26 sp_iwae/mnist_discrete/-1/1556456817/attributes.pk
27 sp_iwae/mnist_discrete/-1/1556457724/attributes.pk
28 sp_iwae/mnist_discrete/-1/1556458428/attributes.pk
29 sp_iwae/mnist_discrete/-1/1556458992/attributes.pk
30 sp_iwae/mnist_discrete/-1/1556459442/attributes.pk
31 sp_iwae/mnist_discrete/-1/1556461248/attributes.pk
32 sp_iwae/mnist_discrete/-1/1557424438/attributes.pk
33 sp_iwae/mnist_discrete/-1/1557428997/attributes.pk
34 sp_iwae/mnist_discrete/-1/1557432262/attributes.pk
35 sp_iwae/mnist_discrete/-1/1557437098/attributes.pk
36 sp_iwae/mnist_discrete/-1/1557440218/attributes.pk
37 sp_iwae/mnist_discrete/-1/1557443734/attributes.pk
Found 38 attributes

,leafK,sumK,nz,nnodes_recog,nnodes_gener,num_weights,wall_time,test_ll,max_validation
11,2,2,25,"(100, 100)","(100, 100)",1694344,2048.40003490448,-1464.497803,-1476.286255
12,2,2,50,"(100, 100)","(100, 100)",1935944,1997.1398282051086,-1554.757446,-1567.409790
13,2,2,100,"(100, 100)","(100, 100)",2419144,1466.0459306240082,-1743.036011,-1761.824341
14,2,2,150,"(100, 100)","(100, 100)",2902344,1625.2413828372955,-1817.953247,-1843.971436
3,2,2,25,"(30, 30)","(30, 30)",310024,1745.808691740036,-1826.166382,-1855.256348
36,2,2,25,"(32, 32)","(32, 32)",336520,3468.5253763198853,-1835.128784,-1863.815796
37,2,2,50,"(32, 32)","(32, 32)",414920,4126.861355543137,-1863.968750,-1894.037231
15,2,2,200,"(100, 100)","(100, 100)",3385544,2065.010592699051,-1896.337769,-1925.123657
4,2,2,50,"(30, 30)","(30, 30)",383624,1298.0621981620789,-1944.547974,-1974.370972
5,2,2,100,"(30, 30)","(30, 30)",530824,1945.3495581150055,-1996.230347,-2031.313965
6,2,2,150,"(30, 30)","(30, 30)",678024,1842.2070162296295,-2069.411133,-2106.747070
7,2,2,200,"(30, 30)","(30, 30)",825224,1971.3842647075653,-2139.776367,-2180.550781
34,2,2,50,"(16, 16)","(16, 16)",186056,4785.819081783295,-2455.995605,-2508.891113
33,2,2,25,"(16, 16)","(16, 16)",146056,3212.983408689499,-2492.947266,-2538.929932
10,2,2,5,"(100, 100)","(100, 100)",1501064,1090.3197402954102,-3083.568115,-3139.674805
35,2,2,5,"(32, 32)","(32, 32)",273800,3071.6276156902313,-3255.749512,-3316.180908
2,2,2,5,"(30, 30)","(30, 30)",251144,1601.8298110961914,-3367.164307,-3445.337891
32,2,2,5,"(16, 16)","(16, 16)",114056,4507.815945625305,-3761.713623,-3843.035889
22,2,2,150,"(300, 300)","(300, 300)",14441544,2366.42058801651,-6722.051270,-6798.595215
23,2,2,200,"(300, 300)","(300, 300)",15884744,1735.0210876464844,-6886.299316,-6986.308105
9,2,2,2,"(100, 100)","(100, 100)",1472072,1967.7598145008087,-7088.215820,-7188.628906
1,2,2,2,"(30, 30)","(30, 30)",242312,1560.8637993335724,-7597.252930,-7715.408691
0,2,2,1,"(30, 30)","(30, 30)",239368,2516.181049346924,-11394.064453,-11544.321289
8,2,2,1,"(100, 100)","(100, 100)",1462408,1424.3185806274414,-12695.366211,-12851.580078
20,2,2,50,"(300, 300)","(300, 300)",11555144,1313.029636144638,-14766.308594,-14159.882812
21,2,2,100,"(300, 300)","(300, 300)",12998344,1906.6146612167358,-21389.468750,-21810.880859
19,2,2,25,"(300, 300)","(300, 300)",10833544,946.3230769634247,-32175.929688,-33135.769531
17,2,2,2,"(300, 300)","(300, 300)",10169672,2079.8544001579285,-135164.171875,-135831.500000
16,2,2,1,"(300, 300)","(300, 300)",10140808,1638.9970304965973,-140723.812500,-141003.359375
18,2,2,5,"(300, 300)","(300, 300)",10256264,425.1201424598694,-192582.531250,-194636.062500
30,2,2,150,"(600, 600)","(600, 600)",46150344,1766.6190168857574,-426746.437500,-427287.843750
25,2,2,2,"(600, 600)","(600, 600)",37616072,242.27719020843506,-449094.906250,-449415.125000
24,2,2,1,"(600, 600)","(600, 600)",37558408,184.20703625679016,-455622.656250,-455769.250000
26,2,2,5,"(600, 600)","(600, 600)",37789064,869.0255212783813,-460013.625000,-459735.406250
28,2,2,50,"(600, 600)","(600, 600)",40383944,525.351902961731,-478512.218750,-478026.343750
27,2,2,25,"(600, 600)","(600, 600)",38942344,664.5267453193665,-488037.781250,-488048.500000
29,2,2,100,"(600, 600)","(600, 600)",43267144,411.07112646102905,-489258.593750,-490314.656250
31,2,2,200,"(600, 600)","(600, 600)",49033544,413.7889106273651,-502667.937500,-503136.343750

In [26]:
df = compile_attributes("sp_iwae", "svhn_discrete")
df.sort_values("max_validation", ascending=False)

0 sp_iwae/svhn_discrete/-1/1556498684/attributes.pk
1 sp_iwae/svhn_discrete/-1/1556499585/attributes.pk
2 sp_iwae/svhn_discrete/-1/1556502012/attributes.pk
3 sp_iwae/svhn_discrete/-1/1556504271/attributes.pk
4 sp_iwae/svhn_discrete/-1/1556506665/attributes.pk
5 sp_iwae/svhn_discrete/-1/1556508872/attributes.pk
6 sp_iwae/svhn_discrete/-1/1556511280/attributes.pk
7 sp_iwae/svhn_discrete/-1/1556512920/attributes.pk
8 sp_iwae/svhn_discrete/-1/1556514295/attributes.pk
9 sp_iwae/svhn_discrete/-1/1556517260/attributes.pk
10 sp_iwae/svhn_discrete/-1/1556517866/attributes.pk
11 sp_iwae/svhn_discrete/-1/1556519258/attributes.pk
12 sp_iwae/svhn_discrete/-1/1557424837/attributes.pk
13 sp_iwae/svhn_discrete/-1/1557432190/attributes.pk
14 sp_iwae/svhn_discrete/-1/1557439812/attributes.pk
15 sp_iwae/svhn_discrete/-1/1557443717/attributes.pk
16 sp_iwae/svhn_discrete/-1/1557447590/attributes.pk
17 sp_iwae/svhn_discrete/-1/1557451017/attributes.pk
Found 18 attributes

,leafK,sumK,nz,nnodes_recog,nnodes_gener,num_weights,wall_time,test_ll,max_validation
10,2,2,50,"(100, 100)","(100, 100)",2080424,1354.3245089054108,-4045.309570,-4329.507812
3,2,2,25,"(30, 30)","(30, 30)",353704,2355.8251943588257,-4062.219482,-4359.498535
17,2,2,50,"(32, 32)","(32, 32)",461480,4729.682833909988,-4089.953857,-4403.013672
4,2,2,50,"(30, 30)","(30, 30)",427304,2169.2421231269836,-4101.327148,-4411.691406
16,2,2,25,"(32, 32)","(32, 32)",383080,3375.7490634918213,-4113.585938,-4425.848633
11,2,2,100,"(100, 100)","(100, 100)",2563624,1329.386214017868,-4155.387207,-4472.191895
5,2,2,100,"(30, 30)","(30, 30)",574504,2019.032381772995,-4168.678223,-4500.553711
9,2,2,25,"(100, 100)","(100, 100)",1838824,566.9673080444336,-4211.894531,-4520.478027
13,2,2,25,"(16, 16)","(16, 16)",169576,7567.393643379211,-4353.573242,-4782.786133
14,2,2,50,"(16, 16)","(16, 16)",209576,3852.8579483032227,-4498.673828,-4965.024902
2,2,2,5,"(30, 30)","(30, 30)",294824,2221.3886432647705,-5495.876465,-6246.339844
8,2,2,5,"(100, 100)","(100, 100)",1645544,2927.5234274864197,-5533.717285,-6296.319824
15,2,2,5,"(32, 32)","(32, 32)",320360,3818.9819922447205,-5582.456055,-6368.251465
12,2,2,5,"(16, 16)","(16, 16)",137576,7297.112339258194,-5541.308105,-6369.965820
1,2,2,2,"(30, 30)","(30, 30)",285992,2389.250270843506,-8919.371094,-10639.274414
7,2,2,2,"(100, 100)","(100, 100)",1616552,1336.5064034461975,-9884.489258,-11826.541992
0,2,2,1,"(30, 30)","(30, 30)",283048,863.6605067253113,-13589.796875,-16150.041016
6,2,2,1,"(100, 100)","(100, 100)",1606888,1602.8835957050323,-14019.949219,-16616.275391

In [27]:
df = compile_attributes("sp_iwae", "svhn_perturbed")
df.sort_values("max_validation", ascending=False)

0 sp_iwae/svhn_perturbed/-1/1556461700/attributes.pk
1 sp_iwae/svhn_perturbed/-1/1556463486/attributes.pk
2 sp_iwae/svhn_perturbed/-1/1556464973/attributes.pk
3 sp_iwae/svhn_perturbed/-1/1556466844/attributes.pk
4 sp_iwae/svhn_perturbed/-1/1556468664/attributes.pk
5 sp_iwae/svhn_perturbed/-1/1556471316/attributes.pk
6 sp_iwae/svhn_perturbed/-1/1556473858/attributes.pk
7 sp_iwae/svhn_perturbed/-1/1556478351/attributes.pk
8 sp_iwae/svhn_perturbed/-1/1556479828/attributes.pk
9 sp_iwae/svhn_perturbed/-1/1556481013/attributes.pk
10 sp_iwae/svhn_perturbed/-1/1556482718/attributes.pk
11 sp_iwae/svhn_perturbed/-1/1556485809/attributes.pk
12 sp_iwae/svhn_perturbed/-1/1556488487/attributes.pk
13 sp_iwae/svhn_perturbed/-1/1556492311/attributes.pk
14 sp_iwae/svhn_perturbed/-1/1557424631/attributes.pk
15 sp_iwae/svhn_perturbed/-1/1557431276/attributes.pk
16 sp_iwae/svhn_perturbed/-1/1557438260/attributes.pk
17 sp_iwae/svhn_perturbed/-1/1557443373/attributes.pk
18 sp_iwae/svhn_perturbed/-1/1557447509/attributes.pk
19 sp_iwae/svhn_perturbed/-1/1557453807/attributes.pk
Found 20 attributes

,leafK,sumK,nz,nnodes_recog,nnodes_gener,num_weights,wall_time,test_ll,max_validation
10,2,2,25,"(100, 100)","(100, 100)",2452072,3045.5706083774567,1930.901489,1712.305786
11,2,2,50,"(100, 100)","(100, 100)",2773672,2633.077672958374,1875.745239,1669.077759
12,2,2,100,"(100, 100)","(100, 100)",3416872,3779.0411565303802,1864.708618,1654.018799
18,2,2,25,"(32, 32)","(32, 32)",511080,6238.317073106766,1838.557495,1622.016846
13,2,2,150,"(100, 100)","(100, 100)",4060072,3623.814178943634,1788.468140,1585.176392
4,2,2,50,"(30, 30)","(30, 30)",569512,2607.6806087493896,1766.153687,1560.326050
19,2,2,50,"(32, 32)","(32, 32)",615080,3893.6569912433624,1758.663696,1554.877075
3,2,2,25,"(30, 30)","(30, 30)",471912,1776.3262565135956,1754.726440,1548.885864
5,2,2,100,"(30, 30)","(30, 30)",764712,2497.815805196762,1739.365234,1537.180420
6,2,2,150,"(30, 30)","(30, 30)",959912,2602.098560333252,1704.862061,1506.700562
15,2,2,25,"(16, 16)","(16, 16)",226408,6924.474749803543,1692.999023,1479.536987
16,2,2,50,"(16, 16)","(16, 16)",279208,5053.079672336578,1646.099854,1442.632812
2,2,2,5,"(30, 30)","(30, 30)",393832,1826.6806223392487,1596.994141,1408.712402
17,2,2,5,"(32, 32)","(32, 32)",427880,4076.9033300876617,1594.347290,1406.697266
14,2,2,5,"(16, 16)","(16, 16)",184168,6580.3644251823425,1583.694092,1388.632446
9,2,2,5,"(100, 100)","(100, 100)",2194792,1660.154464483261,1552.127808,1371.794067
1,2,2,2,"(30, 30)","(30, 30)",382120,1442.5872921943665,1141.410767,977.862793
8,2,2,2,"(100, 100)","(100, 100)",2156200,1141.0130200386047,1054.484741,898.031372
0,2,2,1,"(30, 30)","(30, 30)",378216,1741.680538892746,894.851562,749.180847
7,2,2,1,"(100, 100)","(100, 100)",2143336,1432.9971902370453,767.388611,623.277710

In [28]:
df = compile_attributes("sp_iwae", "cifar10_perturbed")
df.sort_values("max_validation", ascending=False)

0 sp_iwae/cifar10_perturbed/-1/1556522518/attributes.pk
1 sp_iwae/cifar10_perturbed/-1/1556524001/attributes.pk
2 sp_iwae/cifar10_perturbed/-1/1556525782/attributes.pk
3 sp_iwae/cifar10_perturbed/-1/1556527253/attributes.pk
4 sp_iwae/cifar10_perturbed/-1/1556529838/attributes.pk
5 sp_iwae/cifar10_perturbed/-1/1556532875/attributes.pk
6 sp_iwae/cifar10_perturbed/-1/1556535561/attributes.pk
7 sp_iwae/cifar10_perturbed/-1/1556537814/attributes.pk
8 sp_iwae/cifar10_perturbed/-1/1556540546/attributes.pk
9 sp_iwae/cifar10_perturbed/-1/1556541754/attributes.pk
10 sp_iwae/cifar10_perturbed/-1/1556543284/attributes.pk
11 sp_iwae/cifar10_perturbed/-1/1556544473/attributes.pk
12 sp_iwae/cifar10_perturbed/-1/1556546724/attributes.pk
13 sp_iwae/cifar10_perturbed/-1/1556549401/attributes.pk
14 sp_iwae/cifar10_perturbed/-1/1556552014/attributes.pk
15 sp_iwae/cifar10_perturbed/-1/1556553803/attributes.pk
16 sp_iwae/cifar10_perturbed/-1/1556555354/attributes.pk
17 sp_iwae/cifar10_perturbed/-1/1556557300/attributes.pk
18 sp_iwae/cifar10_perturbed/-1/1556558345/attributes.pk
19 sp_iwae/cifar10_perturbed/-1/1556560560/attributes.pk
20 sp_iwae/cifar10_perturbed/-1/1556562598/attributes.pk
21 sp_iwae/cifar10_perturbed/-1/1556564954/attributes.pk
22 sp_iwae/cifar10_perturbed/-1/1556566530/attributes.pk
23 sp_iwae/cifar10_perturbed/-1/1556568031/attributes.pk
24 sp_iwae/cifar10_perturbed/-1/1557424181/attributes.pk
25 sp_iwae/cifar10_perturbed/-1/1557427713/attributes.pk
26 sp_iwae/cifar10_perturbed/-1/1557430467/attributes.pk
27 sp_iwae/cifar10_perturbed/-1/1557433116/attributes.pk
28 sp_iwae/cifar10_perturbed/-1/1557437252/attributes.pk
29 sp_iwae/cifar10_perturbed/-1/1557442410/attributes.pk
Found 30 attributes

,leafK,sumK,nz,nnodes_recog,nnodes_gener,num_weights,wall_time,test_ll,max_validation
11,2,2,25,"(100, 100)","(100, 100)",2452072,2205.262218952179,1232.329346,1227.989990
12,2,2,50,"(100, 100)","(100, 100)",2773672,2632.6923508644104,1231.401855,1226.886230
13,2,2,100,"(100, 100)","(100, 100)",3416872,2567.129772424698,1195.041748,1189.974487
28,2,2,25,"(32, 32)","(32, 32)",511080,5099.383622407913,1185.751953,1183.478027
3,2,2,25,"(30, 30)","(30, 30)",471912,2541.0585193634033,1172.196045,1167.557739
4,2,2,50,"(30, 30)","(30, 30)",569512,2992.0464210510254,1171.773560,1166.950684
29,2,2,50,"(32, 32)","(32, 32)",615080,4392.313453197479,1158.568604,1153.906860
27,2,2,5,"(32, 32)","(32, 32)",427880,4078.5546429157257,1137.434814,1133.192871
5,2,2,100,"(30, 30)","(30, 30)",764712,2641.4960281848907,1134.051636,1128.818237
19,2,2,25,"(300, 300)","(300, 300)",15021672,1992.1798603534698,1117.205811,1113.192261
2,2,2,5,"(30, 30)","(30, 30)",393832,1426.121811389923,1114.679810,1109.495361
21,2,2,100,"(300, 300)","(300, 300)",17906472,1529.747557401657,1110.180664,1105.872559
6,2,2,150,"(30, 30)","(30, 30)",959912,2208.57000875473,1105.699707,1101.173950
24,2,2,5,"(16, 16)","(16, 16)",184168,3476.48099565506,1103.978760,1099.630127
20,2,2,50,"(300, 300)","(300, 300)",15983272,2311.6002008914948,1100.647461,1095.343140
10,2,2,5,"(100, 100)","(100, 100)",2194792,1144.2617466449738,1100.209229,1094.702759
25,2,2,25,"(16, 16)","(16, 16)",226408,2697.6080141067505,1096.723755,1092.814941
14,2,2,150,"(100, 100)","(100, 100)",4060072,1744.1382620334625,1095.819580,1091.343384
7,2,2,200,"(30, 30)","(30, 30)",1155112,2686.832104444504,1094.442017,1089.975586
26,2,2,50,"(16, 16)","(16, 16)",279208,2590.7959723472595,1064.130859,1060.672363
15,2,2,200,"(100, 100)","(100, 100)",4703272,1505.489224910736,958.359985,952.503296
1,2,2,2,"(30, 30)","(30, 30)",382120,1736.9261529445648,917.705017,913.110779
22,2,2,150,"(300, 300)","(300, 300)",19829672,1456.4280388355255,881.680176,877.657776
9,2,2,2,"(100, 100)","(100, 100)",2156200,1485.3119311332703,828.768677,824.706238
23,2,2,200,"(300, 300)","(300, 300)",21752872,898.7784819602966,810.013672,807.362427
18,2,2,5,"(300, 300)","(300, 300)",14252392,2169.016870498657,782.112610,778.653564
0,2,2,1,"(30, 30)","(30, 30)",378216,1439.0310649871826,694.673401,692.770020
17,2,2,2,"(300, 300)","(300, 300)",14137000,1000.298520565033,574.719482,573.157288
8,2,2,1,"(100, 100)","(100, 100)",2143336,1163.8622744083405,567.272705,567.017273
16,2,2,1,"(300, 300)","(300, 300)",14098536,1900.9736094474792,216.020248,216.995056

In [29]:
df = compile_attributes("sp_iwae", "cifar10_discrete")
df.sort_values("max_validation", ascending=False)

0 sp_iwae/cifar10_discrete/-1/1556569911/attributes.pk
1 sp_iwae/cifar10_discrete/-1/1556571673/attributes.pk
2 sp_iwae/cifar10_discrete/-1/1556573573/attributes.pk
3 sp_iwae/cifar10_discrete/-1/1556576433/attributes.pk
4 sp_iwae/cifar10_discrete/-1/1556580199/attributes.pk
5 sp_iwae/cifar10_discrete/-1/1556582958/attributes.pk
6 sp_iwae/cifar10_discrete/-1/1556585273/attributes.pk
7 sp_iwae/cifar10_discrete/-1/1556587830/attributes.pk
8 sp_iwae/cifar10_discrete/-1/1556589884/attributes.pk
9 sp_iwae/cifar10_discrete/-1/1556591687/attributes.pk
10 sp_iwae/cifar10_discrete/-1/1556592793/attributes.pk
11 sp_iwae/cifar10_discrete/-1/1556594487/attributes.pk
12 sp_iwae/cifar10_discrete/-1/1556596232/attributes.pk
13 sp_iwae/cifar10_discrete/-1/1556598199/attributes.pk
14 sp_iwae/cifar10_discrete/-1/1556600727/attributes.pk
15 sp_iwae/cifar10_discrete/-1/1556602751/attributes.pk
16 sp_iwae/cifar10_discrete/-1/1556604549/attributes.pk
17 sp_iwae/cifar10_discrete/-1/1556604818/attributes.pk
18 sp_iwae/cifar10_discrete/-1/1556607067/attributes.pk
19 sp_iwae/cifar10_discrete/-1/1556608572/attributes.pk
20 sp_iwae/cifar10_discrete/-1/1556610212/attributes.pk
21 sp_iwae/cifar10_discrete/-1/1556611805/attributes.pk
22 sp_iwae/cifar10_discrete/-1/1556612689/attributes.pk
23 sp_iwae/cifar10_discrete/-1/1556613514/attributes.pk
24 sp_iwae/cifar10_discrete/-1/1556614948/attributes.pk
25 sp_iwae/cifar10_discrete/-1/1556615638/attributes.pk
26 sp_iwae/cifar10_discrete/-1/1556616259/attributes.pk
27 sp_iwae/cifar10_discrete/-1/1556616813/attributes.pk
28 sp_iwae/cifar10_discrete/-1/1556617528/attributes.pk
29 sp_iwae/cifar10_discrete/-1/1556618077/attributes.pk
30 sp_iwae/cifar10_discrete/-1/1557424498/attributes.pk
31 sp_iwae/cifar10_discrete/-1/1557427829/attributes.pk
32 sp_iwae/cifar10_discrete/-1/1557431966/attributes.pk
33 sp_iwae/cifar10_discrete/-1/1557435345/attributes.pk
34 sp_iwae/cifar10_discrete/-1/1557438443/attributes.pk
35 sp_iwae/cifar10_discrete/-1/1557442814/attributes.pk
Found 36 attributes

,leafK,sumK,nz,nnodes_recog,nnodes_gener,num_weights,wall_time,test_ll,max_validation
11,2,2,25,"(100, 100)","(100, 100)",1838824,1706.7401854991913,-5.189724e+03,-5.199938e+03
19,2,2,25,"(300, 300)","(300, 300)",11266024,1601.2794942855835,-5.241074e+03,-5.252491e+03
12,2,2,50,"(100, 100)","(100, 100)",2080424,1928.103211402893,-5.261758e+03,-5.273514e+03
20,2,2,50,"(300, 300)","(300, 300)",11987624,1554.9760978221893,-5.398590e+03,-5.410630e+03
13,2,2,100,"(100, 100)","(100, 100)",2563624,2490.658204317093,-5.492150e+03,-5.507060e+03
3,2,2,25,"(30, 30)","(30, 30)",353704,3727.479259967804,-5.697767e+03,-5.714669e+03
35,2,2,50,"(32, 32)","(32, 32)",461480,5295.03498673439,-5.760731e+03,-5.776710e+03
34,2,2,25,"(32, 32)","(32, 32)",383080,4324.3724064826965,-5.770476e+03,-5.786061e+03
4,2,2,50,"(30, 30)","(30, 30)",427304,2720.309823989868,-5.769670e+03,-5.787478e+03
14,2,2,150,"(100, 100)","(100, 100)",3046824,1985.741866827011,-5.786331e+03,-5.799613e+03
21,2,2,100,"(300, 300)","(300, 300)",13430824,845.9613962173462,-5.960458e+03,-5.974813e+03
5,2,2,100,"(30, 30)","(30, 30)",574504,2278.04007768631,-5.960472e+03,-5.977992e+03
15,2,2,200,"(100, 100)","(100, 100)",3530024,1758.4628059864044,-6.010061e+03,-6.025837e+03
6,2,2,150,"(30, 30)","(30, 30)",721704,2518.561492204666,-6.060970e+03,-6.078969e+03
23,2,2,200,"(300, 300)","(300, 300)",16317224,1395.0792899131775,-6.110038e+03,-6.129018e+03
22,2,2,150,"(300, 300)","(300, 300)",14874024,786.2251484394073,-6.202557e+03,-6.220340e+03
7,2,2,200,"(30, 30)","(30, 30)",868904,2015.4599168300629,-6.256017e+03,-6.272781e+03
31,2,2,25,"(16, 16)","(16, 16)",169576,4088.411442756653,-6.896576e+03,-6.913896e+03
32,2,2,50,"(16, 16)","(16, 16)",209576,3328.654000520706,-7.042192e+03,-7.059475e+03
10,2,2,5,"(100, 100)","(100, 100)",1645544,1655.8916845321655,-8.536459e+03,-8.543160e+03
2,2,2,5,"(30, 30)","(30, 30)",294824,2823.0228776931763,-8.549016e+03,-8.560689e+03
30,2,2,5,"(16, 16)","(16, 16)",137576,3280.0911083221436,-8.726098e+03,-8.737584e+03
33,2,2,5,"(32, 32)","(32, 32)",320360,3049.200172185898,-8.773887e+03,-8.785430e+03
18,2,2,5,"(300, 300)","(300, 300)",10688744,1466.4954719543457,-8.836392e+03,-8.853314e+03
1,2,2,2,"(30, 30)","(30, 30)",285992,1862.0849931240082,-1.254512e+04,-1.252441e+04
9,2,2,2,"(100, 100)","(100, 100)",1616552,1067.6550838947296,-1.277064e+04,-1.276291e+04
17,2,2,2,"(300, 300)","(300, 300)",10602152,2210.6684453487396,-1.329546e+04,-1.325796e+04
0,2,2,1,"(30, 30)","(30, 30)",283048,1723.993690252304,-1.571598e+04,-1.570546e+04
8,2,2,1,"(100, 100)","(100, 100)",1606888,1764.5386402606964,-1.678735e+04,-1.675677e+04
16,2,2,1,"(300, 300)","(300, 300)",10573288,231.43721318244934,-1.319830e+05,-1.319696e+05
24,2,2,1,"(600, 600)","(600, 600)",38422888,651.5891442298889,-1.777714e+06,-1.780098e+06
28,2,2,50,"(600, 600)","(600, 600)",41248424,509.1850929260254,-1.782469e+06,-1.782810e+06
29,2,2,100,"(600, 600)","(600, 600)",44131624,369.4387741088867,-1.786215e+06,-1.786197e+06
25,2,2,2,"(600, 600)","(600, 600)",38480552,581.9148843288422,-1.793508e+06,-1.793132e+06
27,2,2,25,"(600, 600)","(600, 600)",39806824,675.5929346084595,-1.818332e+06,-1.818742e+06
26,2,2,5,"(600, 600)","(600, 600)",38653544,516.250926733017,-1.824727e+06,-1.824523e+06