In [3]:
import glob
import pickle
import matplotlib.pyplot as plt
import os

In [4]:
import pandas as pd
import numpy as np

In [26]:
def compile_attributes(model="conviwae", dataset="mnist_perturbed"):
    count = 0
    all_attributes = []
    for filename in sorted(glob.glob(os.path.join(model, dataset, "-1", "*", "attributes.pk"))):
        with open(filename, "rb") as f:
            attributes = pickle.load(f)
            all_attributes.append(attributes)
    for i, fn in enumerate(sorted(glob.glob(os.path.join(model, dataset, "-1", "*", "attributes.pk")))):
        print(i, fn)
    print("Found {} attributes".format(len(all_attributes)))
    cols = ['nz', 'n_dense', "filters", 'stride', 'padding', 'num_weights', 'wall_time', 'test_ll', 'test_curve', 'max_validation']
    df = pd.DataFrame(columns=cols)
    for i, att in enumerate(all_attributes):
#         print(len(att["test_curve"]) - np.argmax(att["test_curve"]))
        att["test_curve"] = att["test_curve"][-12]
        if att["test_curve"] > att["test_ll"]:
            count+=1
        row = [att[c] for c in cols]
        df.loc[i] = row
    print(count)
    return df

In [27]:
df = compile_attributes("conviwae", "mnist_perturbed")
df.sort_values("max_validation", ascending=False)

0 conviwae/mnist_perturbed/-1/1557500768/attributes.pk
1 conviwae/mnist_perturbed/-1/1557501036/attributes.pk
2 conviwae/mnist_perturbed/-1/1557501298/attributes.pk
3 conviwae/mnist_perturbed/-1/1557501538/attributes.pk
4 conviwae/mnist_perturbed/-1/1557501842/attributes.pk
5 conviwae/mnist_perturbed/-1/1557514938/attributes.pk
6 conviwae/mnist_perturbed/-1/1557515191/attributes.pk
7 conviwae/mnist_perturbed/-1/1557515510/attributes.pk
8 conviwae/mnist_perturbed/-1/1557515639/attributes.pk
9 conviwae/mnist_perturbed/-1/1557515809/attributes.pk
10 conviwae/mnist_perturbed/-1/1557516170/attributes.pk
11 conviwae/mnist_perturbed/-1/1557516492/attributes.pk
12 conviwae/mnist_perturbed/-1/1557516816/attributes.pk
13 conviwae/mnist_perturbed/-1/1557517235/attributes.pk
14 conviwae/mnist_perturbed/-1/1557517590/attributes.pk
15 conviwae/mnist_perturbed/-1/1557517938/attributes.pk
16 conviwae/mnist_perturbed/-1/1557518287/attributes.pk
Found 17 attributes
8

,nz,n_dense,filters,stride,padding,num_weights,wall_time,test_ll,test_curve,max_validation
12,200,"(64,)","(32, 64)","(2, 2)","(same, same)",894962,417.49854612350464,2831.282715,2833.835205,2823.921631
13,50,"(128,)","(32, 64)","(2, 2)","(same, same)",612230,352.5724353790283,2831.234375,2832.962158,2819.938965
15,150,"(128,)","(32, 64)","(2, 2)","(same, same)",951630,346.864661693573,2834.428467,2834.547119,2814.959717
16,200,"(128,)","(32, 64)","(2, 2)","(same, same)",1121330,376.7725718021393,2818.678711,2814.550537,2811.303223
9,50,"(64,)","(32, 64)","(2, 2)","(same, same)",405062,358.98822140693665,2815.810547,2815.719238,2806.439209
10,100,"(64,)","(32, 64)","(2, 2)","(same, same)",568362,319.24035573005676,2816.811279,2816.779541,2801.155273
11,150,"(64,)","(32, 64)","(2, 2)","(same, same)",731662,322.28179121017456,2811.301270,2809.761719,2795.949707
14,100,"(128,)","(32, 64)","(2, 2)","(same, same)",781930,345.7232780456543,2804.389648,2804.078369,2795.326904
4,50,"(32,)","(32, 64)","(2, 2)","(same, same)",301478,307.26897525787354,2734.136963,2731.625244,2721.457764
6,100,"(32,)","(32, 64)","(2, 2)","(same, same)",461578,315.90076327323914,2711.342285,2712.005859,2711.611572
5,50,"(32,)","(32, 64)","(2, 2)","(same, same)",301478,250.283052444458,2725.113281,2724.371826,2710.806396
3,25,"(32,)","(32, 64)","(2, 2)","(same, same)",221428,301.9793345928192,2705.763672,2706.162109,2676.461670
2,5,"(32,)","(32, 64)","(2, 2)","(same, same)",157388,238.26250743865967,2208.460938,2218.045898,2208.935059
1,2,"(32,)","(32, 64)","(2, 2)","(same, same)",147782,260.23024106025696,1836.518433,1843.454346,1858.148193
0,1,"(32,)","(32, 64)","(2, 2)","(same, same)",144580,264.11689281463623,1563.410645,1573.057251,1590.955811
7,150,"(32,)","(32, 64)","(2, 2)","(same, same)",621678,127.64261889457703,1236.385620,1233.023560,1228.728760
8,200,"(32,)","(32, 64)","(2, 2)","(same, same)",781778,168.03781700134277,1249.263550,1226.468384,1220.537354

In [28]:
df = compile_attributes("conviwae", "mnist_discrete")
df.sort_values("max_validation", ascending=False)

0 conviwae/mnist_discrete/-1/1557518666/attributes.pk
1 conviwae/mnist_discrete/-1/1557519011/attributes.pk
2 conviwae/mnist_discrete/-1/1557519357/attributes.pk
3 conviwae/mnist_discrete/-1/1557519645/attributes.pk
4 conviwae/mnist_discrete/-1/1557520096/attributes.pk
5 conviwae/mnist_discrete/-1/1557520473/attributes.pk
6 conviwae/mnist_discrete/-1/1557520818/attributes.pk
7 conviwae/mnist_discrete/-1/1557521162/attributes.pk
8 conviwae/mnist_discrete/-1/1557521681/attributes.pk
Found 9 attributes
4

,nz,n_dense,filters,stride,padding,num_weights,wall_time,test_ll,test_curve,max_validation
7,200,"(64,)","(32, 64)","(2, 2)","(same, same)",894673,517.1527140140533,-2184.382080,-2184.322510,-2216.142090
6,150,"(64,)","(32, 64)","(2, 2)","(same, same)",731373,342.26672625541687,-2240.901123,-2240.534912,-2278.875977
5,100,"(64,)","(32, 64)","(2, 2)","(same, same)",568073,343.1953387260437,-2241.483154,-2241.231934,-2283.367188
4,50,"(64,)","(32, 64)","(2, 2)","(same, same)",404773,375.0448009967804,-2326.019531,-2326.746826,-2378.603516
8,50,"(128,)","(32, 64)","(2, 2)","(same, same)",611941,350.6920304298401,-2396.734375,-2396.848877,-2444.647949
0,50,"(32,)","(32, 64)","(2, 2)","(same, same)",301189,343.3657684326172,-3259.071777,-3258.884766,-3334.486328
1,100,"(32,)","(32, 64)","(2, 2)","(same, same)",461289,344.2574841976166,-3368.679932,-3370.873535,-3448.060303
3,200,"(32,)","(32, 64)","(2, 2)","(same, same)",781489,449.4106996059418,-3449.788330,-3450.932861,-3519.492920
2,150,"(32,)","(32, 64)","(2, 2)","(same, same)",621389,285.543865442276,-3455.476074,-3457.062012,-3534.629150

In [29]:
df = compile_attributes("conviwae", "svhn_perturbed")
df.sort_values("max_validation", ascending=False)

0 conviwae/svhn_perturbed/-1/1557543838/attributes.pk
1 conviwae/svhn_perturbed/-1/1557544623/attributes.pk
2 conviwae/svhn_perturbed/-1/1557545103/attributes.pk
3 conviwae/svhn_perturbed/-1/1557545725/attributes.pk
4 conviwae/svhn_perturbed/-1/1557546661/attributes.pk
5 conviwae/svhn_perturbed/-1/1557547524/attributes.pk
6 conviwae/svhn_perturbed/-1/1557547700/attributes.pk
7 conviwae/svhn_perturbed/-1/1557548113/attributes.pk
8 conviwae/svhn_perturbed/-1/1557548390/attributes.pk
9 conviwae/svhn_perturbed/-1/1557548964/attributes.pk
10 conviwae/svhn_perturbed/-1/1557549480/attributes.pk
11 conviwae/svhn_perturbed/-1/1557550114/attributes.pk
12 conviwae/svhn_perturbed/-1/1557551077/attributes.pk
13 conviwae/svhn_perturbed/-1/1557551915/attributes.pk
14 conviwae/svhn_perturbed/-1/1557552148/attributes.pk
15 conviwae/svhn_perturbed/-1/1557552467/attributes.pk
16 conviwae/svhn_perturbed/-1/1557553447/attributes.pk
17 conviwae/svhn_perturbed/-1/1557553764/attributes.pk
18 conviwae/svhn_perturbed/-1/1557554130/attributes.pk
19 conviwae/svhn_perturbed/-1/1557554522/attributes.pk
20 conviwae/svhn_perturbed/-1/1557554980/attributes.pk
21 conviwae/svhn_perturbed/-1/1557555627/attributes.pk
22 conviwae/svhn_perturbed/-1/1557556148/attributes.pk
23 conviwae/svhn_perturbed/-1/1557557455/attributes.pk
Found 24 attributes
12

,nz,n_dense,filters,stride,padding,num_weights,wall_time,test_ll,test_curve,max_validation
22,150,"(128,)","(32, 64)","(2, 2)","(same, same)",1219470,1300.9642069339752,1835.574219,1835.333984,1607.752197
23,200,"(128,)","(32, 64)","(2, 2)","(same, same)",1437170,1001.341370344162,1814.625732,1814.476196,1589.533569
21,100,"(128,)","(32, 64)","(2, 2)","(same, same)",1001770,515.265506029129,1768.059570,1768.160400,1551.149170
15,200,"(64,)","(32, 64)","(2, 2)","(same, same)",1149362,962.2764785289764,1544.371094,1544.326782,1347.145752
12,50,"(64,)","(32, 64)","(2, 2)","(same, same)",515462,828.7266008853912,1507.616699,1507.429077,1306.742065
20,50,"(128,)","(32, 64)","(2, 2)","(same, same)",784070,644.9548709392548,1500.824463,1500.749390,1298.967041
4,50,"(32,)","(32, 64)","(2, 2)","(same, same)",381158,848.7508502006531,1246.732056,1246.773315,1071.288330
3,25,"(32,)","(32, 64)","(2, 2)","(same, same)",277108,922.5235948562622,1149.487793,1149.530518,979.130188
11,25,"(64,)","(32, 64)","(2, 2)","(same, same)",409812,951.4044108390808,1146.134033,1145.789307,976.185059
19,25,"(128,)","(32, 64)","(2, 2)","(same, same)",675220,456.4481632709503,1120.524292,1120.449341,951.281860
18,5,"(128,)","(32, 64)","(2, 2)","(same, same)",588140,389.87447690963745,523.458679,523.729858,410.352051
10,5,"(64,)","(32, 64)","(2, 2)","(same, same)",325292,616.8026490211487,523.079834,523.365112,408.391846
2,5,"(32,)","(32, 64)","(2, 2)","(same, same)",193868,610.7306203842163,522.018982,522.095032,405.412048
1,2,"(32,)","(32, 64)","(2, 2)","(same, same)",181382,477.975656747818,333.684906,333.686371,240.988617
17,2,"(128,)","(32, 64)","(2, 2)","(same, same)",575078,363.09414529800415,329.773346,329.474792,235.321213
9,2,"(64,)","(32, 64)","(2, 2)","(same, same)",312614,506.2964367866516,325.653168,325.732025,234.893799
0,1,"(32,)","(32, 64)","(2, 2)","(same, same)",177220,780.6691744327545,170.321320,170.972214,117.781509
8,1,"(64,)","(32, 64)","(2, 2)","(same, same)",308388,567.8198370933533,135.760895,135.915100,85.374680
16,1,"(128,)","(32, 64)","(2, 2)","(same, same)",570724,312.83340787887573,127.455460,127.551979,77.673317
6,150,"(32,)","(32, 64)","(2, 2)","(same, same)",797358,395.69901847839355,-9.910910,-11.440184,-34.611610
13,100,"(64,)","(32, 64)","(2, 2)","(same, same)",726762,224.01028871536255,-14.400325,-15.450358,-38.771873
14,150,"(64,)","(32, 64)","(2, 2)","(same, same)",938062,306.6057937145233,-17.057156,-15.789940,-39.237503
7,200,"(32,)","(32, 64)","(2, 2)","(same, same)",1005458,268.11018991470337,-16.568897,-17.297165,-40.765110
5,100,"(32,)","(32, 64)","(2, 2)","(same, same)",589258,166.17047119140625,-18.448410,-19.165224,-41.592873

In [30]:
df = compile_attributes("conviwae", "svhn_discrete")
df.sort_values("max_validation", ascending=False)

0 conviwae/svhn_discrete/-1/1557551759/attributes.pk
1 conviwae/svhn_discrete/-1/1557552271/attributes.pk
2 conviwae/svhn_discrete/-1/1557552552/attributes.pk
3 conviwae/svhn_discrete/-1/1557552887/attributes.pk
4 conviwae/svhn_discrete/-1/1557552974/attributes.pk
5 conviwae/svhn_discrete/-1/1557553292/attributes.pk
6 conviwae/svhn_discrete/-1/1557553431/attributes.pk
7 conviwae/svhn_discrete/-1/1557553603/attributes.pk
8 conviwae/svhn_discrete/-1/1557553789/attributes.pk
9 conviwae/svhn_discrete/-1/1557554148/attributes.pk
10 conviwae/svhn_discrete/-1/1557554426/attributes.pk
11 conviwae/svhn_discrete/-1/1557558469/attributes.pk
12 conviwae/svhn_discrete/-1/1557558952/attributes.pk
13 conviwae/svhn_discrete/-1/1557559281/attributes.pk
Found 14 attributes
11

,nz,n_dense,filters,stride,padding,num_weights,wall_time,test_ll,test_curve,max_validation
10,5,"(64,)","(32, 64)","(2, 2)","(same, same)",325003,329.30210852622986,-22123.597656,-22123.347656,-25433.759766
13,5,"(32,)","(32, 64)","(2, 2)","(same, same)",193579,553.8529672622681,-22153.255859,-22153.792969,-25490.134766
2,5,"(32,)","(32, 64)","(2, 2)","(same, same)",193579,331.45753288269043,-22382.419922,-22380.333984,-25582.769531
9,2,"(64,)","(32, 64)","(2, 2)","(same, same)",312325,274.3566737174988,-28680.833984,-28673.949219,-31971.015625
12,2,"(32,)","(32, 64)","(2, 2)","(same, same)",181093,313.9395844936371,-28768.812500,-28765.078125,-31989.021484
1,2,"(32,)","(32, 64)","(2, 2)","(same, same)",181093,278.8755819797516,-28649.718750,-28633.822266,-32004.238281
8,1,"(64,)","(32, 64)","(2, 2)","(same, same)",308099,356.3848259449005,-33378.207031,-33372.937500,-35650.464844
0,1,"(32,)","(32, 64)","(2, 2)","(same, same)",176931,507.75222992897034,-33393.742188,-33402.187500,-35692.777344
11,1,"(32,)","(32, 64)","(2, 2)","(same, same)",176931,473.70427942276,-33874.230469,-33884.804688,-35913.242188
4,50,"(32,)","(32, 64)","(2, 2)","(same, same)",380869,314.7700831890106,-41352.753906,-41346.816406,-42094.507812
7,200,"(32,)","(32, 64)","(2, 2)","(same, same)",1005169,182.36170268058777,-41566.640625,-41436.234375,-42262.171875
6,150,"(32,)","(32, 64)","(2, 2)","(same, same)",797069,169.46806168556213,-41760.574219,-41750.007812,-42290.496094
5,100,"(32,)","(32, 64)","(2, 2)","(same, same)",588969,135.56709599494934,-41805.718750,-41800.527344,-42410.710938
3,25,"(32,)","(32, 64)","(2, 2)","(same, same)",276819,83.88721203804016,-41812.781250,-41792.671875,-42422.894531

In [31]:
df = compile_attributes("conviwae", "cifar10_perturbed")
df.sort_values("max_validation", ascending=False)

0 conviwae/cifar10_perturbed/-1/1557523818/attributes.pk
1 conviwae/cifar10_perturbed/-1/1557524009/attributes.pk
2 conviwae/cifar10_perturbed/-1/1557524087/attributes.pk
3 conviwae/cifar10_perturbed/-1/1557524222/attributes.pk
4 conviwae/cifar10_perturbed/-1/1557524280/attributes.pk
5 conviwae/cifar10_perturbed/-1/1557524382/attributes.pk
6 conviwae/cifar10_perturbed/-1/1557524452/attributes.pk
7 conviwae/cifar10_perturbed/-1/1557524489/attributes.pk
8 conviwae/cifar10_perturbed/-1/1557524542/attributes.pk
9 conviwae/cifar10_perturbed/-1/1557524643/attributes.pk
10 conviwae/cifar10_perturbed/-1/1557524750/attributes.pk
11 conviwae/cifar10_perturbed/-1/1557524773/attributes.pk
12 conviwae/cifar10_perturbed/-1/1557525135/attributes.pk
13 conviwae/cifar10_perturbed/-1/1557525154/attributes.pk
14 conviwae/cifar10_perturbed/-1/1557525279/attributes.pk
15 conviwae/cifar10_perturbed/-1/1557525366/attributes.pk
16 conviwae/cifar10_perturbed/-1/1557525476/attributes.pk
17 conviwae/cifar10_perturbed/-1/1557525567/attributes.pk
18 conviwae/cifar10_perturbed/-1/1557525764/attributes.pk
19 conviwae/cifar10_perturbed/-1/1557526078/attributes.pk
20 conviwae/cifar10_perturbed/-1/1557526166/attributes.pk
21 conviwae/cifar10_perturbed/-1/1557526198/attributes.pk
22 conviwae/cifar10_perturbed/-1/1557526493/attributes.pk
23 conviwae/cifar10_perturbed/-1/1557526646/attributes.pk
24 conviwae/cifar10_perturbed/-1/1557526773/attributes.pk
25 conviwae/cifar10_perturbed/-1/1557527132/attributes.pk
26 conviwae/cifar10_perturbed/-1/1557527564/attributes.pk
Found 27 attributes
14

,nz,n_dense,filters,stride,padding,num_weights,wall_time,test_ll,test_curve,max_validation
21,150,"(128,)","(32, 64)","(2, 2)","(same, same)",1219470,445.4285387992859,1122.914062,1122.163940,1117.190796
25,150,"(128,)","(32, 64)","(2, 2)","(same, same)",1219470,430.32910919189453,1116.147827,1117.287109,1109.861572
18,100,"(128,)","(32, 64)","(2, 2)","(same, same)",1001770,432.19347643852234,1109.869019,1109.150879,1104.387817
24,100,"(128,)","(32, 64)","(2, 2)","(same, same)",1001770,356.66066098213196,1103.741577,1103.699829,1098.595459
26,200,"(128,)","(32, 64)","(2, 2)","(same, same)",1437170,327.49742817878723,1100.141602,1100.592651,1095.087158
23,200,"(128,)","(32, 64)","(2, 2)","(same, same)",1437170,317.9619255065918,1098.654663,1098.490234,1094.036621
13,100,"(64,)","(32, 64)","(2, 2)","(same, same)",726762,411.1219971179962,1039.953369,1040.140137,1034.348389
17,150,"(64,)","(32, 64)","(2, 2)","(same, same)",938062,509.07364153862,1037.091553,1036.215454,1030.869995
22,50,"(128,)","(32, 64)","(2, 2)","(same, same)",784070,278.72644543647766,999.912476,999.130371,994.692017
10,50,"(64,)","(32, 64)","(2, 2)","(same, same)",515462,382.7818100452423,997.325317,997.359192,993.117310
11,50,"(64,)","(32, 64)","(2, 2)","(same, same)",515462,378.35517621040344,992.071594,992.782776,988.876221
16,50,"(128,)","(32, 64)","(2, 2)","(same, same)",784070,286.1149995326996,985.212830,985.693909,980.231079
1,50,"(32,)","(32, 64)","(2, 2)","(same, same)",381158,437.447110414505,870.887329,871.916992,868.250305
0,25,"(32,)","(32, 64)","(2, 2)","(same, same)",277108,266.24454832077026,821.605896,820.846863,818.680664
7,25,"(64,)","(32, 64)","(2, 2)","(same, same)",409812,282.475848197937,820.874207,820.528137,817.002930
20,25,"(128,)","(32, 64)","(2, 2)","(same, same)",675220,324.8953483104706,812.790894,813.199524,810.153992
12,100,"(64,)","(32, 64)","(2, 2)","(same, same)",726762,141.42196893692017,19.336084,18.167624,21.384150
2,50,"(32,)","(32, 64)","(2, 2)","(same, same)",381158,132.48778629302979,19.208544,19.912296,21.018768
9,200,"(32,)","(32, 64)","(2, 2)","(same, same)",1005458,105.06726121902466,16.662046,18.076437,20.301313
8,150,"(32,)","(32, 64)","(2, 2)","(same, same)",797358,99.14559769630432,17.541754,17.999399,19.167782
14,150,"(64,)","(32, 64)","(2, 2)","(same, same)",938062,85.24452352523804,17.887037,16.829062,18.913639
15,200,"(64,)","(32, 64)","(2, 2)","(same, same)",1149362,107.77056431770325,17.652634,18.060196,18.763577
6,100,"(32,)","(32, 64)","(2, 2)","(same, same)",589258,87.68276858329773,16.380535,18.126820,18.295197
5,200,"(32,)","(32, 64)","(2, 2)","(same, same)",1005458,105.1077790260315,17.404203,16.738119,17.987257
19,200,"(64,)","(32, 64)","(2, 2)","(same, same)",1149362,86.2941083908081,16.681030,16.116915,17.753685
4,150,"(32,)","(32, 64)","(2, 2)","(same, same)",797358,100.0422511100769,18.977812,17.116421,17.565010
3,100,"(32,)","(32, 64)","(2, 2)","(same, same)",589258,56.51736521720886,15.478746,16.530598,17.530161

In [32]:
df = compile_attributes("conviwae", "cifar10_discrete")
df.sort_values("max_validation", ascending=False)

0 conviwae/cifar10_discrete/-1/1557526966/attributes.pk
1 conviwae/cifar10_discrete/-1/1557527150/attributes.pk
2 conviwae/cifar10_discrete/-1/1557527296/attributes.pk
3 conviwae/cifar10_discrete/-1/1557527447/attributes.pk
4 conviwae/cifar10_discrete/-1/1557527503/attributes.pk
5 conviwae/cifar10_discrete/-1/1557527695/attributes.pk
6 conviwae/cifar10_discrete/-1/1557527868/attributes.pk
7 conviwae/cifar10_discrete/-1/1557527894/attributes.pk
8 conviwae/cifar10_discrete/-1/1557527956/attributes.pk
9 conviwae/cifar10_discrete/-1/1557528021/attributes.pk
10 conviwae/cifar10_discrete/-1/1557528119/attributes.pk
11 conviwae/cifar10_discrete/-1/1557528220/attributes.pk
12 conviwae/cifar10_discrete/-1/1557528225/attributes.pk
13 conviwae/cifar10_discrete/-1/1557528297/attributes.pk
14 conviwae/cifar10_discrete/-1/1557528423/attributes.pk
15 conviwae/cifar10_discrete/-1/1557528469/attributes.pk
16 conviwae/cifar10_discrete/-1/1557528636/attributes.pk
17 conviwae/cifar10_discrete/-1/1557528726/attributes.pk
18 conviwae/cifar10_discrete/-1/1557528830/attributes.pk
19 conviwae/cifar10_discrete/-1/1557528998/attributes.pk
20 conviwae/cifar10_discrete/-1/1557529048/attributes.pk
21 conviwae/cifar10_discrete/-1/1557529158/attributes.pk
22 conviwae/cifar10_discrete/-1/1557529316/attributes.pk
23 conviwae/cifar10_discrete/-1/1557529524/attributes.pk
24 conviwae/cifar10_discrete/-1/1557529745/attributes.pk
25 conviwae/cifar10_discrete/-1/1557530020/attributes.pk
26 conviwae/cifar10_discrete/-1/1557530300/attributes.pk
Found 27 attributes
13

,nz,n_dense,filters,stride,padding,num_weights,wall_time,test_ll,test_curve,max_validation
25,150,"(128,)","(32, 64)","(2, 2)","(same, same)",1219181,277.9557764530182,-6840.715820,-6840.259277,-6861.254395
17,150,"(128,)","(32, 64)","(2, 2)","(same, same)",1219181,319.21709966659546,-6852.243164,-6852.508789,-6873.071777
20,200,"(128,)","(32, 64)","(2, 2)","(same, same)",1436881,500.9756269454956,-7061.134277,-7060.189453,-7082.824219
26,200,"(128,)","(32, 64)","(2, 2)","(same, same)",1436881,235.66593861579895,-7083.465820,-7083.036133,-7108.201660
24,100,"(128,)","(32, 64)","(2, 2)","(same, same)",1001481,273.13290309906006,-7367.645020,-7367.107422,-7386.783203
15,100,"(128,)","(32, 64)","(2, 2)","(same, same)",1001481,255.58944940567017,-7382.921387,-7382.816895,-7402.433594
18,100,"(64,)","(32, 64)","(2, 2)","(same, same)",726473,165.85610437393188,-8957.633789,-8957.793945,-8983.134766
5,100,"(64,)","(32, 64)","(2, 2)","(same, same)",726473,171.3136808872223,-8968.179688,-8968.116211,-8993.211914
6,150,"(64,)","(32, 64)","(2, 2)","(same, same)",937773,150.3363335132599,-9082.704102,-9083.272461,-9105.756836
19,150,"(64,)","(32, 64)","(2, 2)","(same, same)",937773,158.5874195098877,-9116.523438,-9117.027344,-9142.241211
21,200,"(64,)","(32, 64)","(2, 2)","(same, same)",1149073,156.1256766319275,-9174.684570,-9173.559570,-9200.568359
9,200,"(64,)","(32, 64)","(2, 2)","(same, same)",1149073,197.4779658317566,-9196.615234,-9196.580078,-9219.756836
16,50,"(64,)","(32, 64)","(2, 2)","(same, same)",515173,192.28703999519348,-9785.449219,-9785.581055,-9801.455078
23,50,"(128,)","(32, 64)","(2, 2)","(same, same)",783781,218.96477675437927,-9804.909180,-9804.855469,-9820.192383
4,50,"(64,)","(32, 64)","(2, 2)","(same, same)",515173,189.4434142112732,-9801.361328,-9801.382812,-9821.224609
11,50,"(128,)","(32, 64)","(2, 2)","(same, same)",783781,246.77511715888977,-9849.398438,-9850.009766,-9864.215820
0,50,"(32,)","(32, 64)","(2, 2)","(same, same)",380869,179.2034239768982,-11846.909180,-11852.478516,-11860.475586
8,50,"(32,)","(32, 64)","(2, 2)","(same, same)",380869,161.56617975234985,-11868.318359,-11868.375977,-11872.252930
1,100,"(32,)","(32, 64)","(2, 2)","(same, same)",588969,143.51756525039673,-11975.130859,-11973.789062,-11976.498047
2,150,"(32,)","(32, 64)","(2, 2)","(same, same)",797069,149.373929977417,-12076.444336,-12076.990234,-12081.123047
22,25,"(128,)","(32, 64)","(2, 2)","(same, same)",674931,205.7498118877411,-12923.925781,-12923.608398,-12915.404297
14,25,"(64,)","(32, 64)","(2, 2)","(same, same)",409523,211.2317841053009,-12965.271484,-12965.328125,-12954.419922
7,25,"(32,)","(32, 64)","(2, 2)","(same, same)",276819,60.404422998428345,-38114.445312,-38136.171875,-37991.187500
10,100,"(32,)","(32, 64)","(2, 2)","(same, same)",588969,104.20606398582458,-38078.957031,-38248.519531,-38042.074219
13,200,"(32,)","(32, 64)","(2, 2)","(same, same)",1005169,123.636150598526,-38090.378906,-38063.156250,-38049.503906
12,150,"(32,)","(32, 64)","(2, 2)","(same, same)",797069,70.23041582107544,-38240.125000,-38180.132812,-38098.535156
3,200,"(32,)","(32, 64)","(2, 2)","(same, same)",1005169,54.423949003219604,-38287.449219,-38318.460938,-38163.171875